.popupContainer {
  display: block;
}

.popup {
  max-width: 60%;
  font-size: 20px;
  font-family: "Tahoma, sans-serif";
  font-weight: bold;
  border-radius: 10px;
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
  opacity: 0;
  margin-bottom: 5px;
  transition: opacity 0.5s ease-in-out;
  word-wrap: break-word;
  display: inline-block;
}

.popup.active {
  opacity: 0.9;
}

/* Positioning classes */
.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}
